<input type="checkbox" id="checkbox-{{category}}" class="category-checkbox"/>
<label class="{{id}}-badge category-badge" id="category-{{category}}" for="checkbox-{{category}}">
    <svg class="badge-image" aria-hidden="true"><use href="/static/images/icon/spritesheet.svg#{{icon}}"/></svg>
    <p>{{label}}</p>
</label>
